<!DOCTYPE html>
<html>
  <head>
    <title>AccountBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-dark bg-dark">
      <div class="container">
        <%= link_to "Account book", root_path, id: "logo" %>
        <nav>
          <ul>
            <li><%= link_to "Home",   root_path, style: "color:#fff;" %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
